/*-- scss:defaults --*/

$code-block-border-color: #FF;
$code-block-font-size:	0.45em;
$presentation-font-size-root:	35px;

/* style.scss */
.plot-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
